{% extends 'base.html.twig' %}

{% block body %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">OCR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<main role="main" class="container">
    <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p>
            {{ form_start(formUpload) }}
            {{ form_row(formUpload) }}
            <button>Upload</button>
            {{ form_end(formUpload) }}
        </p>

        <p>
            {{ form_start(formFiles) }}
            {{ form_row(formFiles.fileList) }}
            {{ form_row(formFiles.ocrEngine) }}
            {{ form_row(formFiles.formatType) }}
            <button>Convert to text</button>
            {{ form_end(formFiles) }}
        </p>

        <p>
            {{ parsedText }}
        </p>
    </div>
</main><!-- /.container -->
{% endblock %}