{% extends 'base.html.twig' %}

{% block body %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">OCR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<main role="main" class="container">
    <div id="app">
    <div class="starter-template">
        <h1>OCR visualiser</h1>
        <p>
            {{ form_start(formUpload) }}
            {{ form_row(formUpload) }}
            <button>Upload</button>
            {{ form_end(formUpload) }}
        </p>
        <hr>
        <p>
            {{ form_start(formFiles) }}
            {{ form_row(formFiles.fileList) }}
            {{ form_row(formFiles.ocrEngine) }}
            {{ form_row(formFiles.formatType) }}
            {{ form_row(formFiles.ocrWord) }}
            {{ form_row(formFiles.boundingBoxColorWord) }}
            {{ form_row(formFiles.ocrLine) }}
            {{ form_row(formFiles.boundingBoxColorLine) }}
            {{ form_row(formFiles.ocrParagraph) }}
            {{ form_row(formFiles.boundingBoxColorParagraph) }}
            {{ form_row(formFiles.ocrWordsOver) }}
            {{ form_row(formFiles.ocrWordsColor) }}
            {{ form_row(formFiles.ocrWordsFontSize) }}
            <button>Convert</button>
            {{ form_end(formFiles) }}
        </p>

        <p>
            {{ parsedText }}
        </p>
    </div>
    </div>
</main><!-- /.container -->
{% endblock %}